.captureButton{
    margin: 10px 0px!important;
    display: block;
    width: 230px;
}
.captureButtons lightning-button{
    margin:16px 16px 16px 0px;
}
.slds-modal__container {
    max-width: 80rem !important;
    width: 70% !important;
}
.radioStyle{
    visibility: hidden;
}

.labelStyle{
    padding: 2px 2px 2px 2px;
    background:darkseagreen;
    color: white;
    font-size: 14px;
    font-weight: bold;
    outline: auto;
}