.captureButton{
    margin: 10px 0px!important;
    display: block;
    width: 230px;
}
.captureButtons lightning-button{
    margin:16px 16px 16px 0px;
}
.appointment_slot{
    padding: 0.35rem 0.7rem;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    direction: ltr;
    color: #90be6d;
    text-align: center;

    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    padding: 0.9rem 0;

}