.ny_footer {
    background-color: $color-text;
    padding: .3rem 0;
    font-size: .8rem;
    color: $color-white;
    text-align: center;
    bottom: 0;
    // position: fixed;
    width: -webkit-fill-available;
}