.paddingStyle{
    padding-left: 3%;
}
.headerStyle{
    font-weight: bold;
}

.slds-form-element__control .slds-radio, .slds-modal .slds-form-element__control .slds-checkbox{
    display: inline-block!important;
  }

 

  .primaryMedical p{
    margin: 10px 0px;
  }


  .primaryMedical .slds-radio__label{
    margin: 10px 0px;
    display: inline-block;
  }