<footer class="ok_ban-footer">
        <section class="footer-pre">
           <div class="ok_ban-container">
               <div class="footer-pre--menu">
                   <div class="footer-pre--submenu">
                       <div class="heading">Heading 1</div>
                       <ul class="menu">
                           <li class="list"><a href="#">General Information</a></li>
                           <li class="list"><a href="#">About</a></li>
                           <li class="list"><a href="#">Collaborators</a></li>
                           <li class="list"><a href="#">Contact Us</a></li>
                       </ul>
                   </div>
                   <div class="footer-pre--submenu">
                       <div class="heading">Heading 2</div>
                       <ul class="menu">
                           <li class="list"><a href="#">Resources</a></li>
                           <li class="list"><a href="#">Find your Hope Score</a></li>
                       </ul>
                   </div>
                   <div class="footer-pre--submenu">
                       <div class="heading">Heading 3</div>
                       <ul class="menu">
                           <li class="list"><a href="#">Find your Hope Score</a></li>
                           <li class="list"><a href="#">Neighbor Organizations</a></li>
                           <li class="list"><a href="#">How it Works</a></li>
                           <li class="list"><a href="#">Volunteer</a></li>
                           <li class="list"><a href="#">Ready. Help. Go.</a></li>
                           <li class="list"><a href="#">Volunteer FAQ</a></li>
                       </ul>
                   </div>
                   <div class="footer-pre--submenu">
                       <div class="heading">Connect with Us</div>
                       <ul class="menu">
                           Soical N/W Icons and Contact Information
                       </ul>
                   </div>
           </div>
        </section>
        <section class="footer-mid">
           <div class="ok_ban-container">
               In Collaboration With
           </div>
          <div class="image-section">
           <img src="../img/Eastern_Oklahoma_211.png"
           alt="In Collaboration With Eastern Oklahoma 211" class="collaboration-image"/>
           <img src="../img/Oklahoma_Human_Services.png"
           alt="In Collaboration With Oklahoma Human Services" class="collaboration-image"/>
           <img src="../img/CMI4K.png"
           alt="In Collaboration With CMI4K" class="collaboration-image"/>
           <img src="../img/Heartline_244.png"
           alt="In Collaboration With Heartline 244" class="collaboration-image"/>
          </div>
       </section>
        <section class="footer-end">
           <div class="ok_ban-container">
               © 2020 Oklahoma Be a Neighbor. All rights reserved.
           </div>
       </section>
   </footer>
