//Colors
$color-primary: #181A7B;
$color-primary-hover: #00002a;
$color-secondary: #A513B6;
$color-pallet-3: #39e593;
$color-pallet-4: #3B6CF6;
$color-light-gray: #f1f4f6;
$color-white: #ffffff;
$color-black: #000000;
$color-default-text: #666666;
$color-text: #333333;
$color-text-link: #0029F7;
$color-text-link-hover: #001cab;
$color-text-input: #333333;
$color-heading-text: #000050;
$color-text-disable:#777777;
$color-help-default-bg: #E3F5F7;
$color-help-default-br: #bbe7ec;
$color-warning: #ffc107;
$color-success: #21883f;
$color-error: #ea172b;
$body-background: #ebf1fa;
$body-background-disable:#ececec;
$default-shadow: 0 0 1.5rem rgba(0, 0, 80, 0.15);
$default-border: 1px solid #dee2e6;
//Grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;
//Font
$default-font-size: 1.6rem;