.readoutStyle{
    font-weight: bold;
    font-size:14px;
    color: rgb(1, 118, 211);
    padding-left: 5%;
}
.helptextStyle{
    font-style: italic;
    padding-left: 5%;
}
.headerStyle{
    font-weight: bold;
    font-size:large;
}
.subheaderStyle{
    font-weight: bold;
    font-size:medium;
}
.paddingStyle{
    padding-left: 5%;
}